/* --------------------------------------- */
/* Basic Setup */
/* --------------------------------------- */

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, "Montserrat";
    transition: all .5s;
  }

  html, body {
    height: 100%;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }

  li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    letter-spacing: 0em;
    text-decoration: none;
    line-height: 1.25em;
  }

/* --------------------------------------- */
/* Main Section */
/* --------------------------------------- */

main.parallax {
  height: 100vh;
  background-image: url('/assets/img/wine_store.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  .page-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      color: #fff;
      font-size: 100px;
      text-transform: capitalize;
      letter-spacing: 0px;
      line-height: 1em;
      text-shadow: 3px 3px #000;
    } 
  }
  header {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

    nav {
      display: flex;
      width:100%;
      height: auto;
      padding: 50px 0;
    }
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        width: 100%;
        .logo-wrapper {
          display: flex;
          width: 100%;
          a {
            font-size: 40px;
            text-shadow: 2px 2px #000;
          }
        }
        .nav-items {
          display: flex;
          width: 30%;
          align-items: center;
        }
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      li {
        justify-content: space-around;
        text-shadow: 2px 2px #000;
        flex: 3;
        text-align: right;
      }
      :hover {
        color: #D980FA;
      }
    }
  }

  .button-scroll-down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    animation: MoveUpDown 1.5s linear infinite;

    a {
      &:hover {
        .fa-arrow-down:before {
          display: none;
        }
        span {
          display: block;
        }
      }
    }

    .fa-arrow-down:before {
      font-size: 35px;
    }
    span {
      display: none;
    }
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}


/* --------------------------------------- */
/* Section - Main Image */
/* --------------------------------------- */

.page-title {
  text-align: center;
  padding: 100px 8%;
}

.portfolio {

  .portfolio-grid-system {
    width: 100%;

    .portfolio-container {
      display: flex;
      justify-content: space-between;
      width: 52%;
      margin: 0 auto;

      .portfolio-img-box {
        width: 242px;
        height: auto;
        margin: 0 5px;
        overflow: hidden;

        .img-box {
          width: 100%;
          height: 383px;

          a {
            width: 100%;
            height: 383px;
            overflow: hidden;
          }

          img {
            position: relative;
            top: 0px;
            left: -122.317px;

            &:hover {
              transform: scale(1.1);
            }
          }

          img.romanza {
            left: 0;
          }

          img.bond {
            top: -100px;
            left: -150px;
          }

        }
        .sub-img-text {
          padding: 20px 0;
          font-family: 'Times New Roman', Times, serif;
          text-align: center;
          opacity: 0.7;
        }
      }
    }
  }
}